@import "reset.css";
@import "common.css";
@import "./css/b-1_style.css";
.wrap{width:1440px; margin:150px auto 200px; position: relative;}
.wrap::after{
    content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
.choice{display: flex; margin: 10px 0;}
.choice>p{margin-right: 10px;}
#mi01,#plus01,
#mi02,#plus02{
    background: #ddd;
    width: 20px;
    height: 20px;
}

#basket{
    width: 65%;
    float: left;
}
.row{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pname1{
    position: absolute;
    right: 72%;
    top:5%;
    font-size: 1.6rem;
}

.pname2{
    position: absolute;
    right: 68%;
    top:55%;
    font-size: 1.6rem;
}

.price1{
    position: absolute;
    right: 67%;
    bottom: 54%;
}
.price2{
    position: absolute;
    right: 67%;
    bottom: 5%;
}
.delivery1{
    font-size: 0.8rem; color: #666;
    margin-bottom: 20px;
}
.sum1{
    position: absolute;
    right: -400%;
    font-size: 2rem;
    top:50%;
}
.sum2{
    position: absolute;
    right: -400%;
    font-size: 2rem;
    top:50%;
}

.delete1{
    position: absolute;
    top:5%;
    left:62%
}

.delete2{
    position: absolute;
    top:53%;
    left:62%
}

/*오른쪽 결제하기 창*/

.right{
    float: right;
    width: 30%;
    height: 300px;
    text-align: left;
    font-size: 1.6rem;
    color: #333;
    border: 1px solid #ddd;
}
.sumcount, .summoney,.free{
    margin: 20px 80px;
}
.summoney{
    margin-bottom: 10px;
}
.sumcount{
    font-size: 1.1rem;
    color: #666;
    text-align: left;
}

hr{
    margin-left: 20px;
    width: 90%;
    background: #ddd;
    height: 2px;
    border: 0;
    text-align: center;
    display: inline-block;
}
#goorder{
    position: absolute;
    bottom: 28%;
    background: #36594c;
    width: 30%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

#goorder>.buttongroup>a{
    color: #fff;
}

#sum_p_price1{
    color: #000;
    font-weight: bold;
}