@charset "utf-8";
@import "reset.css";
@import "common.css";
.wrap{width:1440px; margin:150px auto 200px;}
h2{
    display: none;
    visibility: hidden;
    width: 0; height: 0;
    overflow: hidden;
    text-indent: -9999px;
}

/*위쪽 현재진행상태표시 영역*/
.wrap>ul{margin-left:35%;}
.wrap>ul>li{
    float:left;
    width:100px;
    height:100px;
    border:1px solid #36594c;
    background:#36594c;
    border-radius:50%;
    text-align:center;
    padding-top:27px;
    box-sizing:border-box;
    color:#fff;
    line-height:1.3em;
    font-weight:700;
}
.wrap>ul>li:nth-child(even){
    background:url('../img/b_img/icon01.gif') no-repeat center/30px;
    border:none;
}
.wrap>ul>li:nth-child(3),
.wrap>ul>li:nth-child(5){
    background:none;
    color:#666;
    border-color:#888;
}
.wrap>ul::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
.clear::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}


#section{margin-top:120px;}
/*왼쪽영역*/
.section01{width:70%; margin-right:5%;}
.check::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
.check>li{float:left;  color:#333;}
#check_box01,#check_box02,#check_box03{
    border:1px solid #888;
    width:20px;
    height:20px;
    box-sizing:border-box;
    cursor:pointer;
}
.check>li:nth-child(2),
.check>li:nth-child(3),
.check>li:nth-child(4){padding-top:2px;}
.check>li:nth-child(2){
    margin-left:1%;
    cursor:pointer;
}
.check>li:nth-child(3){margin:0 4%; color:#ddd;}
.check>li:nth-child(4){cursor:pointer;}
.section01>p{border-top:2px solid #ddd; margin-top:10px;}

/*왼쪽영역 product*/
.product01,.product02{
    height:250px; 
    position:relative;
    border-bottom:1px solid #ddd;
    margin-bottom:30px;
}
.product01>li,.product02>li{position:absolute;}
.product01>li:nth-child(2),.product02>li:nth-child(2){left:3%;}
.product01>li:nth-child(2)>img{width:40%;}
.product02>li:nth-child(2)>img{width:73%;}
.product01>li:nth-child(3),.product02>li:nth-child(3){
    left:35%;
    font-size:1.8rem;
    padding-top:15px;
}
.product01>li:nth-child(4),
.product02>li:nth-child(4){left:35%; bottom:40%;}
.product01>li:nth-child(4)>ul::after,
.product02>li:nth-child(4)>ul::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
.product01>li:nth-child(4)>ul>li,
.product02>li:nth-child(4)>ul>li{
    float:left;
    color:#888;
}
.product01>li:nth-child(4)>ul>li:nth-child(2),
.product02>li:nth-child(4)>ul>li:nth-child(2){margin:0 10px;}
.product01>li:nth-child(5),
.product02>li:nth-child(5){
    left:35%;
    bottom:23%;
    border:1px solid #333;
    padding:5px 0;
}
.product01>li:nth-child(5)>span:nth-of-type(odd),
.product02>li:nth-child(5)>span:nth-of-type(odd){
    padding:0 10px;
    cursor:pointer;
    color:#333;
}
.product01>li:nth-child(5)>span:nth-of-type(2),
.product02>li:nth-child(5)>span:nth-of-type(2){
    display:inline-block;
    width:25px;
    color:#333;
    text-align:center;
}
.product01>li:nth-child(6),
.product02>li:nth-child(6){
    right:0;
    bottom:23%;
    font-size:1.2rem;
    color:#333;
}
.product01>li:nth-child(6)>span,
.product02>li:nth-child(6)>span{
    font-size:1.8rem;
    font-weight:600;
}
.product01>li:nth-child(7),
.product02>li:nth-child(7){
    right:0;
    cursor:pointer;
}
.product01>li:nth-child(7)>img,
.product02>li:nth-child(7)>img{width:20px;}


/*오른쪽영역*/
.section02{width:25%;}
.section02>ul{
    border:1px solid #ddd;
    padding:30px 8%;
}
.section02>ul>li:nth-child(1){color:#888;}
.section02>ul>li:nth-child(2){
    color:#666;
    font-size:1.3rem;
    margin:20px 0;
}
.section02>ul>li:nth-child(2),
.section02>ul>li:nth-child(3),
.section02>ul>li:nth-child(5){
    position:relative;
}
.section02>ul>li:nth-child(2)>span,
.section02>ul>li:nth-child(3)>span,
.section02>ul>li:nth-child(5)>span{
    position:absolute;
    right:0;
}
.section02>ul>li:nth-child(3),
.section02>ul>li:nth-child(5){color:#666; font-size:1.3rem;}
.section02>ul>li:nth-child(4){
    border-top:1px solid #ddd;
    margin:15px 0;
}
.section02>ul>li:nth-child(5){color:#333; font-weight:700;}

/*주문하기 버튼*/
.section02>p{margin-top:20px;}
.section02>p>a{
    display:block;
    width:100%;
    height:80px;
    background:#36594c;
    color:#fff;
    line-height:80px;
    text-align:center;
    font-weight:700;
    font-size:1.8rem;
}

@media all and (max-width:1024px){
    .wrap{width:100%;}

}