@charset "utf-8";
@import "reset.css";
@import "common.css";
.wrap{width:1440px; margin:150px auto 200px;}
h2{
    display: none;
    visibility: hidden;
    width: 0; height: 0;
    overflow: hidden;
    text-indent: -9999px;
}
.wrap>ul{margin-left:35%;}
.wrap>ul>li{
    float:left;
    width:100px;
    height:100px;
    border:1px solid #36594c;
    background:#36594c;
    border-radius:50%;
    text-align:center;
    padding-top:27px;
    box-sizing:border-box;
    color:#fff;
    line-height:1.3em;
    font-weight:700;
}
.wrap>ul>li:nth-child(even){
    background:url('../img/b_img/icon01.gif') no-repeat center/30px;
    border:none;
}
.wrap>ul>li:nth-child(3),
.wrap>ul>li:nth-child(5){
    background:none;
    color:#666;
    border-color:#888;
}
.wrap>ul::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
.wrap>div{margin:100px 0 0 42%;}
.wrap>div>#shoppingCart{position:relative;}
.wrap>div>#shoppingCart>img{margin-left:50px;}
.wrap>div>#shoppingCart>p{
    width:40px;
    height:40px;
    line-height:40px;
    background:#36594c;
    color:#fff;
    border-radius:50%;
    font-size:1.5rem;
    text-align:center;
    position:absolute;
    top:-3%; left:25%;
}
.wrap>div>p:first-of-type{
    color:#36594c;
    font-size:1.5rem;
    font-weight:700;
    padding-top:60px;
}
.wrap>div>p:last-of-type{
    padding:20px 0 0 8%;
    color:#888;
}

@media all and (max-width:1024px){
    .wrap{width:100%;}
    .wrap>ul{margin-left:25%;}
    .wrap>div{margin-left:35%;}
    .wrap>div>#shoppingCart>p{left:31%;}
}