@charset "utf-8";
@import "reset.css";
@import "common.css";
.wrap{width:1440px; margin:0 auto;}
h2{
    display: none;
    visibility: hidden;
    width: 0; height: 0;
    overflow: hidden;
    text-indent: -9999px;
}
.wrap>ul>li{
    float:left;
    width:10%;
    height:50%;
}
.wrap>ul::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
