@charset  "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
@import url('https://webfontworld.github.io/sebang/SebangGothic.css');
/*
font-family: 'SEBANG_Gothic_Bold';
font-family: 'Pretendard-Regular';
*/


*{margin:0; padding:0; list-style:none;}
a:hover, a:active, a:link, a:visited{text-decoration:none; color:#333;}
html{ font-family: 'Pretendard-Regular'; }

/* 공통 */
.flex{display:flex; flex-flow:row wrap}
header>div,footer>div{max-width:1440px; margin:0 auto;}
/* 헤더 */
header{border-bottom:1px solid #dedede;}
#util,#footer_sns>ul{justify-content:flex-end;}
#util a{font-size:0.9vw;}
#util>li{margin:15px 0 0 10px;}
#util>li::after{
    content:'|';
    margin-left:10px;
}
#util>li:nth-child(3)::after{
    content:'';
    margin: 0;
}
nav>h1{width:15%;}
nav>ul{width:85%;}

#gnb{justify-content:space-between; align-items:center; margin-top:1%;}
#gnb>li{height:7vh; line-height:2.5; box-sizing: border-box;}
#gnb>li>a{font-size:1.5vw; font-weight:500;}
#gnb>li:last-child>a:first-child>img{margin-right:30px;}
#gnb>li:last-child img{width:25%;}
#gnb>li:hover{border-bottom:3px solid #36594c;}
#gnb>li:hover>a{color:#36594c; font-weight: 900;}
#gnb>li:last-child:hover{border-bottom:0;}






/* 푸터 */
footer{background:#36594c; padding:30px 0;}
#footer_sns li{width:50px;}
#footer_sns img{width:100%;}
#footer_under img{width:70%;}
#footer_under{justify-content: space-between; align-items: center;}
#footer_under li,#footer_under li a{color:#fff;}
#footer_under p,#footer_under li{font-size:0.8vw;}

@media all and (max-width:1024px){ /* 모바일 */
    /* 헤더영역 */
    #util,#gnb{display:none;}
    
    
    



    /* 푸터영역 */
    #footer_sns>ul,#footer_under{justify-content:center;}
    #footer_under{flex-flow:column wrap;}
    #footer_under img{margin:0 auto; display:block;}
    #footer_under>ul:nth-child(2){margin:2% 0;}
    #footer_under>ul:last-child{text-align:center;}


}