@charset  "utf-8";
@import "reset.css";
@import "common.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
@import url('https://webfontworld.github.io/sebang/SebangGothic.css');
/*
font-family: 'Pretendard';
font-family: 'SebangGothic';
*/


/*
#98A62E (주조색)
#898C6D
#36594C
#4A5912
*/
body{font-family: 'Pretendard';}

#wrap{
    max-width:1440px;
    margin:0 auto;
}

/* section1 */
.section1{
    background:url('../img/g1_img/sec01_bg.jpg') no-repeat center/cover;
    background-color:rgba(0,0,0,);
    display:flex;
}
.section1>div>img.bottle{
    transform: scale(65%);
    margin-left:300px;
}
.section1>div>h3:first-child{
    color:#36594C;
}
.section1>div>span{
    display:block;
    background:#36594C;
    width:50%;
    height:5px;
    transform: rotate(90deg);
}
.section1>p{
    width:35%; height:50%;
    font-size:1.2rem;
    font-weight:900;
    line-height:3;
    text-align:center;
    color:#333;
    padding:20px;
    margin:50px 0 0 250px;
}


/* section2 */
.section2{
    position:relative;
    height:600px;
    box-sizing:border-box;
    padding-top:30px;
    background:#f4f4f4;
}
.section2>div{
    position:absolute;
}
.section2>h3{
    text-align:center;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    z-index:2;
    line-height:2;
    font-size:1.2rem;
    color:#333;
    font-weight:600;
}
.sec_bottle{
    width:7%;
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    z-index:1;
}
.sec2_img{width:80%;}
.section2>div>div{
    text-align:center;
}
.m_01>p,.m_03>p,.m_05>p,.m_07>p,.m_09>p{
    margin-right:30px;
    padding-top:15px;
    width:280px;
    text-align:right;
}
.m_02>p,.m_04>p,.m_06>p,.m_08>p,.m_10>p{
    margin-left:30px;
    padding-top:15px;
    width:280px;
}
.m_01{top:15%; left:10%;}
.m_02{top:15%; right:10%;}
.m_03{top:29%; left:5%;}
.m_04{top:29%; right:5%;}
.m_05{top:43%; left:3%;}
.m_06{top:43%; right:3%;}
.m_07{top:57%; left:5%;}
.m_08{top:57%;right:5%;}
.m_09{top:70%; left:10%;}
.m_10{top:70%; right:10%;}




/* 모바일 버전 */
.m_check{
    width:270px;
    text-align:center;
    background:rgba(0,0,0,0.1);
    box-sizing:border-box;
    padding:10px 0;
    display:none;
}


/* section3 (브랜드 역사) */
.section3{
    width:100%; height:2700px;
    background:
    url('../img/g1_img/history_bg.png')no-repeat left bottom/50%;
    position:relative;
    
}
.section3>img{
    display:block;
    width:54px; height:1928px;
    position:absolute;
    top:11.1%; left:50%;
    transform: translateX(-50%);
}
.section3 h4{
    font-size:1.5rem;
    font-weight:600;
    margin-bottom:5px;
}
.section3 p{
    font-size:1.1rem;
    font-weight:500;
    line-height:1.2;
}
.section3>h3{
    text-align:center;
    font-size:2.1rem;
    font-weight:700;
    line-height:1.2;
    margin-top:100px;
}
.section3>h3>.color2{color:#37594b;}



.h_01,.h_02,.h_03,.h_04,.h_05,.h_06,.h_07{position:absolute;}
.txt_r, .txt_l{width:250px;}
.h_01, .h_03, .h_05{text-align:right;}
.h_01::after, .h_03::after, .h_05::after{
    content:'';
    margin:130px 0 0 50px;
    width:200px; height:2px;
    background:#37594b;
}
.h_02, .h_04, .h_06{text-align:left;}
.h_02::before, .h_04::before, .h_06::before{
    content:'';
    margin:130px 50px 0 0;
    width:200px; height:2px;
    background:#37594b;
}
.h_01{top:7.2%; left:10%;}
.h_02{top:18.9%; right:10%;}
.h_03{top:30.5%; left:10%;}
.h_04{top:42%; right:10%;}
.h_05{top:53.6%; left:10%;}
.h_06{top:65.1%; right:10%;}
.h_07{
    bottom:5%;
    text-align:center;
    width:500px;
    right:31%;
}
.h_07>h4{margin:20px 0;}


/* section4 (광고) */
.section4{
    width:100%; height:700px;
    background:#fff7e6;
}
.section4 h3{
    text-align:center;
    font-size:1.7rem;
    font-weight:700;
    padding-top:90px;
}
.section4 h3>span{color:#dcd242}
.section4 h4{
    margin-bottom:30px;
    text-align:center;
    font-size:1.2rem;
    font-weight:400;
    margin-top:20px;
}
.controller{margin-top:20px;}

/* section3 브랜드역사 width 크기 조정 */
@media all and (max-width:1240px){
    .h_01::after, .h_03::after, .h_05::after{width:150px;}
    .h_02::before, .h_04::before, .h_06::before{width:150px;}
}
@media all and (max-width:1130px){
    .h_01::after, .h_03::after, .h_05::after{width:100px;}
    .h_02::before, .h_04::before, .h_06::before{width:100px;}
    .h_07{right:27%;}
}



/* 모바일 */
@media all and (max-width:1024px){
    /* secition1 */
    .section1>div{box-sizing:border-box;}
    .section1>div>img.bottle{
        width:100%;
        display:block;
        margin-left:100px;
    }
    .section1>p{width:100%; height:50%; font-size:2vw;}

    /* section2 */
    section#wrap>article:nth-child(2){position:relative;}
    .section2>div:hover,.m_check:hover{cursor:pointer;}
    .section2>div>p{display:none;}
    .m_01{top:15%; left:25%;}
    .m_02{top:15%; right:25%;}
    .m_03{top:29%; left:20%;}
    .m_04{top:29%; right:20%;}
    .m_05{top:43%; left:15%;}
    .m_06{top:43%; right:15%;}
    .m_07{top:57%; left:20%;}
    .m_08{top:57%; right:20%;}
    .m_09{top:70%; left:25%;}
    .m_10{top:70%; right:25%;}

    .m_check{
        width:100%; height:150px;
        position:absolute;
        margin:auto; padding-top:auto;
        top:38%;
        z-index:99;
        background:rgba(0,0,0,0.8); 
        color:#fff;
    }
    /* section3 */
    .h_01::after, .h_03::after, .h_05::after{display:none;}
    .h_02::before, .h_04::before, .h_06::before{display:none;}
    .section3 p{font-size:2vw;}
}


@media all and (max-width:867px){
    /* section1 */
    .section1>p{
        width:100%; height:50%;
        margin:100px 0 0 120px;
    }
    /* section2 */
    .section2{padding:0;}
    .section2>h3{margin-bottom:20px;}
    /* section3*/
    .section3{height:2400px;}
    .txt_r, .txt_l{width:150px;}
    .section3>div img{width:20%;}
    .h_07{right:20%;}

    .h_01{top:10%; left:10%;}
    .h_02{top:20%; right:10%;}
    .h_03{top:35%; left:10%;}
    .h_04{top:46%; right:10%;}
    .h_05{top:60%; left:10%;}
    .h_06{top:72%; right:10%;}
    .h_07{width:50%;; bottom:1%; right:25%;}
}

@media all and (max-width:769px){
    /* section4 */
    #container>ul>li>video>source{
        width:100%; height:10px;
    }
    #container>ul.slide-area>li:nth-child(2)>video,
    #container>ul.slide-area>li:nth-child(3)>video,
    #container>ul.slide-area>li:nth-child(4)>video{
        display:none;
    }
}

