@charset  "utf-8";
@import url('./reset.css');
@import url('./common.css');
#gnb>li:last-child { padding-top: 10px;}
html{overflow-x: hidden}


/* section1 */
.clear::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
.section1{
  position:relative;
  background:url('../img/h1_images/visual_banner.png') no-repeat center;
  width:100%; height:50vw;
  display:flex;
  justify-content: center;
  align-items: center;
}
#visual_img1{
  width:8.11111vw;
  height:14vh;
  margin-right:20px;
}
#visual_img2{width:50%;}

/* section2 */
.section2{
    background:#FFF9E1;
    height: 50vw;
    width: 100%;
}
.section2>div{
    max-width:1920px;
    margin:0 auto;
    padding:50px 0;
    position:relative;
}

/*수정함*/

.section2>div>.contents_txt{
    text-align:left;
    position:absolute;
    top:75%;
    left:15%;
    font-size:1.5vw;
    color: #222;
    line-height: 1.5;
    z-index: 999;
}
.contents_txt1{
    font-size: 1.5vw;
    margin-bottom: 0px;
}

div.bounce{
float: left;
color: #37594b;
font-weight: bold;
font-size: 1.6vw;
}
.contents_txt2{
    margin-top: 9%;
    font-size: 2vw;
    margin-bottom: 30px;
    font-weight: 600;
}
.contents_txt2>span.color1{
    color:#37594b;
    font-weight:900;
    font-size:2vw;
    position: relative;
}

.contents_txt2>span.color2{
    color:#f96768;
    font-weight:900;
    font-size:2vw;
}
.content_txt3{
  position:absolute;
  top:34%; right:-53%;
  width:170%;
}

.section2 img{
    width:22%; height:auto;
    display:block;
    margin: 0 auto;
    transform: translate(83%,83%);
    position: relative;
    z-index: 999;
}
.content_txt{
    transform: translate(50%,-55%);
    width:30%;
}
.content_txt img{
    width: 100%;
}
.rotating_img {
    -webkit-animation: rotation 150s infinite linear;
}


@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
/* section3 */
.section3{padding:60px 0;}
.section3>div{
    max-width:1920px;
    margin:0 auto;
    position:relative;
}
.section3>div>p{
    text-align: center;
    font-size:2.5vw;
    margin:5% 0 5% 0;
}

.section3>div>img{
    width:30%; height:auto;
    display:block;
    
}
.section3>div>img.bottle_background{
    margin-left:25%;
    width: 25%;
}
.section3>div>img.bottle{
    position:absolute;
    top:32%;
    left:22%;
    width:15%;
}
.section3>div>img.bottle_background{margin-bottom:5%;}
.section3>div>p>.color1{color:#37594b; font-weight:700;}
.section3_text1{
    position:absolute;
    top:20%;
    left:45%;
    text-align:right;
    width:13%;
}
.section3_text1>p:nth-child(1),.section3_text1>p:nth-child(2){display:inline-block;}
.section3_text1>p:nth-child(1){font-size:1.5vw;}
.section3_text1>p:nth-child(2){
    font-size:4vw;
    color:#37594b;
    font-weight:900;
}
.section3_text1>p:nth-child(3){font-size:0.5vw;}

.section3_text2{
    position:absolute;
    top:52%;
    left:50%;
    text-align:right;
}
.section3_text2>p{display:inline-block;}
.section3_text2>P:first-child{
    text-align:center;
    font-size:1.8vw;
}
.section3_text2>P:last-child{
    text-align: right;
    font-size:0.5vw;
}
.section3_text2>P>.font1{
    font-size:3vw;
    font-weight:900;
    color:#37594b;
}

.section3_text3{
    position:absolute;
    bottom:2%;
    left:48%;
    text-align:right;
}
.section3_text3>p{font-size:1.2vw;}
.section3_text3>p>.font2{
    color:#37594b;
    font-weight:900;
    font-size:3vw;
}
.section3_text3>p>.font3{font-size:0.5vw;}




/*section4 2022-10-06 다운 수정*/
.section4{
  max-width:1920px;
  padding-top:50px;
  padding-bottom:200px;
  box-sizing:border-box;
}
.section4>h4{
  font-size:2rem;
  font-weight:700;
  color:#f96768;
  text-align:center;
  margin-bottom:40px;
}
.section4>figure{
  width:75%;
  margin:0 auto;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  box-sizing:border-box;
  overflow:hidden;
}
.section4 img{
    width: 25%;
    height:25%;
    object-fit: contain;
    box-sizing:border-box;
    cursor: pointer;
}

.section4 img:hover{ 
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }

}
.section4 img:nth-child(1), .section4 img:nth-child(2),
.section4 img:nth-child(3){margin-bottom:0;}
.section4 img:nth-child(1), .section4 img:nth-child(2),
.section4 img:nth-child(4), .section4 img:nth-child(5){
  margin-right:0;
}

/*바운스 효과*/
.bounce { 
    position: relative;
    /* 파폭 */
    -moz-animation: bounce 2s infinite linear;
    /* 크롬 */
    -webkit-animation: bounce 2s infinite linear;
    -o-animation: bounce 2s infinite linear;
    animation: bounce 2s infinite linear;
  }

  /* 
    바운스의 높이 
    0% 일 때, 0px 
    50%일 때, -5px 
    70%일 때, -50px
    100%일 때, 0px 
    */
  @-webkit-keyframes bounce {
    0% {
      top: 0;
    }

    50% {
      top: -5px;
    }

    70% {
      top: -50px;
    }

    100% {
      top: 0;
    }
  }

  @-moz-keyframes bounce {
    0% {
      top: 0;
    }

    50% {
      top: -5px;
    }

    70% {
      top: -50px;
    }

    100% {
      top: 0;
    }
  }

  @-o-keyframes bounce {
    0% {
      top: 0;
    }

    50% {
      top: -5px;
    }

    70% {
      top: -50px;
    }

    100% {
      top: 0;
    }
  }

  @-ms-keyframes bounce {
    0% {
      top: 0;
    }

    50% {
      top: -5px;
    }

    70% {
      top: -50px;
    }

    100% {
      top: 0;
    }
  }

  @keyframes bounce {
    0% {
      top: 0;
    }

    50% {
      top: -5px;
    }

    70% {
      top: -50px;
    }

    100% {
      top: 0;
    }
  }

@media all and (max-width:1024px){ /* 모바일 */
  .section4{padding-bottom: 100px;}
  .section4>figure{
    width:75%;
    margin:0 auto;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    box-sizing:border-box;
    overflow:hidden;
  }
  .section4>h4{

    font-size:1.8rem;
    font-weight:700;
    color:#f96768;
    text-align:center;
    margin-bottom:20px;
  }
  .section4 img{
    display:block;
    width:50%;
    box-sizing:border-box;
  }
  #visual_img1 {
    width: 9.9999vw;
    height: 10.5555vh;
    margin-right: 15px;
  }
  #visual_img2{width:40%;}

}

@media all and (max-width:768px){
  #visual_img1 {
    width: 8.9999vw;
    height: 7.5555vh;
    margin-right: 12px;
  }
  #visual_img2{width:30%;}

  /*section2*/
  .section2>div>.contents_txt{top:60%;left:12%;}
  .section2 img{transform: translate(83%,60%);}
  .content_txt3{top:33%; right:-54%;width:170%;}
}




