@charset  "utf-8";
@import "reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
/*400px 30% review05 / jQuery login*/

/*pc 버전*/


/*공통 사용*/
.wrap{
    width:1440px; 
    margin:0 auto;
    padding:10% 0;
    color:#444;
}
img{vertical-align:top;}

/*section LOGIN 영역*/
.section1{text-align: center;;}
