@charset  "utf-8";
@import "reset.css";
@import "common.css";

/*현재 페이지 영역*/
.section01{
    text-align:center;
    width:100%;
    position:relative;
    margin-top:80px;
}
.section01>h3{
    font-size:2rem;
    font-weight:700;
    margin-top:50px;
    color:#222;
}
.section01>p{
    margin:20px 0 60px 0;
    color:#222;
}
.section01>div{
    width:75%;
    margin-left:34%;
}
.section01>div>a{
    width:130px; height:40px;
    line-height:40px;
    float:left;
    border:2px solid #aaa;
    border-radius:30px;
    font-size:1.6rem;
    font-weight:500;
    margin-right:100px;
    color:#222;
}
.section01>div>a:nth-child(2){
    background:#37594B;
    color:#fff;
}
.section01>div>a:last-child{margin-right:0;}
.section01>div::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}

/*타이틀 영역*/
#title{
    width:75%; height:50px;
    text-align:left;
    border-bottom:4px solid #37594B;
    margin:50px auto 0;
}
#title>h4{
    font-size:1.6rem;
    font-weight:600;
    line-height:50px;
    color:#222;
}

/*기간 설정 영역*/
.section02{
    width:40%; height:80px;
    margin:80px auto 0;
    text-align:center;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
}
.section02>p{
    width:280px;
    font-size:1.5rem;
    font-weight:600;
    word-spacing:1.2em;
}
.section02>p:nth-child(2)
{width:30px; margin-left:60px;}
.section02>p>input
{width:130px; height:25px;}


/*구매 리스트 영역*/
.section03{
    width:50%; height:640px;
    margin:0 auto;
}
.list01{
    width:100%; height:220px;
    position:relative;
    display:block;
    border:2px solid #222;
    border-radius:50px;
    margin-bottom:30px;
    padding:15px;
}
.list01>a{
    width:30%; height:200px;
    position:absolute;
    top:25px;
    border:2px solid #222;
    overflow:hidden;
    box-sizing:border-box;
}
.list01>a>img{
    width:95%;
    position:inherit;
    top:-22%; left:5px;
}
.list01>div{
    width:32%; height:220px;
    position:absolute;
}
.list01>div.impo{
    left:35%;
    font-size:1.3rem;
    font-weight:500;
    line-height:1.8;
    border-right:2px dotted #222;
    width:33%;
}
.list01>div.impo>p>span.color{color:#37594B;}
.list01>div.impo>.botton{
    font-size:1rem;
    font-weight:500;
    margin-top:50px;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    width:100%;
}
.list01>div.impo>.botton>a{
    border:2px solid #555;
    width:120px; height:40px;
    line-height:40px;
    box-sizing:border-box;
    margin-right:7%;
    text-align:center;
}
.list01>div.impo>.botton>a:hover{
    font-weight:600;
    border:3px solid #444;
    box-sizing:border-box;
}
.list01>div.botton02{
    text-align:center;
    width:25%;
    right:3%;
    margin-top:20px;
    font-size:1.4rem;
    font-weight:500;
}
.list01>div.botton02>a{
    width:100%;
    height:40px;
    line-height:37px;
    display:block;
    margin-bottom:30px;
    box-sizing:border-box;
    border:2px solid #555;
    border-radius:15px;
}
.list01>div.botton02>a:last-child{margin-bottom:0;}
.list01>div.botton02>a:hover{
    font-weight:600;
    border:3px solid #444;
    box-sizing:border-box;
}
.list02{
    width:100%; height:220px;
    position:relative;
    display:block;
    border:2px solid #222;
    border-radius:50px;
    margin-bottom:30px;
    padding:15px;
}
.list02>a{
    width:30%; height:200px;
    position:absolute;
    top:25px;
    border:2px solid #222;
    overflow:hidden;
    box-sizing:border-box;
}
.list02>a>img{
    width:95%;
    position:inherit;
    top:-22%; left:5px;
}
.list02>div{
    width:32%; height:220px;
    position:absolute;
}
.list02>div.impo{
    left:35%;
    font-size:1.3rem;
    font-weight:500;
    line-height:1.8;
    border-right:2px dotted #222;
    width:33%;
}
.list02>div.impo>p>span.color{color:#37594B;}
.list02>div.impo>.botton{
    font-size:1rem;
    font-weight:500;
    margin-top:50px;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    width:100%;
}
.list02>div.impo>.botton>a{
    border:2px solid #555;
    width:120px; height:40px;
    line-height:40px;
    box-sizing:border-box;
    margin-right:7%;
    text-align:center;
}
.list02>div.impo>.botton>a:hover{
    font-weight:600;
    border:3px solid #444;
    box-sizing:border-box;
}
.list02>div.botton02{
    text-align:center;
    width:25%;
    right:3%;
    margin-top:20px;
    font-size:1.4rem;
    font-weight:500;
}
.list02>div.botton02>a{
    width:100%;
    height:40px;
    line-height:37px;
    display:block;
    margin-bottom:30px;
    box-sizing:border-box;
    border:2px solid #555;
    border-radius:15px;
}
.list02>div.botton02>a:last-child{margin-bottom:0;}
.list02>div.botton02>a:hover{
    font-weight:600;
    border:3px solid #444;
    box-sizing:border-box;
}

/*페이지 이동 버튼 영역*/
.section04>div{
    width:75%; height:50px;
    margin:0 auto;
    font-size:1.3rem;
    font-weight:600;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
}
.section04>div>a{
    color:#37594B;
    margin:0 100px;
}
.section04>div>a:first-child{margin-left:0;}
.section04>div>a:last-child{margin-right:0;}
footer{margin-top:50px;}











/*모바일*/
@media all and (max-width:1024px){
    .section01>div{
        margin-left:26.5%;
    }
    .section01>div>a{
        width:120px; height:35px;
        line-height:35px;
        float:left;
        border:2px solid #aaa;
        border-radius:30px;
        font-size:1.5rem;
        font-weight:500;
        margin-right:50px;
        color:#222;
    }

    /*기간 설정 영역*/
    .section02{
        width:50%; height:80px;
        margin:40px auto 0;
        text-align:center;
        display:flex;
        flex-flow:row wrap;
        justify-content:center;
    }
    .section02>p{
        width:200px;
        font-size:1.2rem;
        font-weight:600;
        word-spacing:0.8em;
    }
    .section02>p:nth-child(2)
    {width:20px; margin-left:20px;}
    .section02>p>input
    {width:100px; height:25px;}

    /*구매 리스트 영역*/
    .section03{height:550px;}
    .list01{height:180px;}
    .list01>a{height:160px; top:25px;}
    .list01>a>img{top:0%;}
    .list01>div{height:180px;}
    .list01>div.impo{
        width:36%; font-size:1rem; margin-top:10px;}
    .list01>div.impo>.botton{
        font-size:0.7rem; margin-top:30px;
    }
    .list01>div.impo>.botton>a{
        border:1px solid #555;
        width:40%; height:35px;
        line-height:35px;
        margin-right:10px;
    }
    .list01>div.botton02{
        width:23%;
        margin-top:10px;
        font-size:1.2rem;
    }
    .list01>div.botton02>a{
        margin-bottom:20px;
        box-sizing:border-box;
    }
    .list02{height:180px;}
    .list02>a{height:160px; top:25px;}
    .list02>a>img{top:0%;}
    .list02>div{height:180px;}
    .list02>div.impo{
        width:36%; font-size:1rem; margin-top:10px;}
    .list02>div.impo>.botton{
        font-size:0.7rem; margin-top:30px;
    }
    .list02>div.impo>.botton>a{
        border:1px solid #555;
        width:40%; height:35px;
        line-height:35px;
        margin-right:10px;
    }
    .list02>div.botton02{
        width:23%;
        margin-top:10px;
        font-size:1.2rem;
    }
    .list02>div.botton02>a{
        margin-bottom:20px;
        box-sizing:border-box;
    }

    /*페이지 이동 버튼 영역*/
    .section04>div>a{margin:0 50px;}









    
}