@charset  "utf-8";
@import "reset.css";
@import "common.css";

/*현재 페이지 영역*/
.section01{
    text-align:center;
    width:75%;
    margin:0 auto;
    position:relative;
}
.section01>h3{
    font-size:2rem;
    font-weight:700;
    margin-top:50px;
    color:#222;
}
.section01>p{
    margin:20px 0 40px 0;
    color:#222;
}
.section01>div{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
.section01>div>a{
    width:130px; height:40px;
    line-height:40px;
    float:left;
    border:2px solid #aaa;
    border-radius:30px;
    font-size:1.6rem;
    font-weight:500;
    margin-right:100px;
    color:#222;
}
.section01>div>a:nth-child(2){
    background:#37594B;
    color:#fff;
}
.section01>div>a:last-child{margin-right:0;}
.section01>div::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}

/*타이틀 영역*/
#title{
    position:absolute;
    width:75%; height:50px;
    text-align:left;
    border-bottom:4px solid #37594B;
    top: 400px; left:50%;
    transform:translateX(-50%);
}
#title>h4{
    font-size:1.6rem;
    font-weight:600;
    line-height:50px;
    color:#222;
}
.section02{
    width:40%; height:80px;
    margin:250px auto 0;
    text-align:center;
}
.section02>p{
    float:left;
    width:280px;
    font-size:1.5rem;
    font-weight:600;
    word-spacing:1.2em;
}
.section02>p:nth-child(2)
{width:30px; margin-left:60px;}
.section02>p>input
{width:130px; height:25px;}
.section03{
    width:50%; height:800px;
    margin:0 auto;
}
.list01{
    width:100%; height:220px;
    position:relative;
    display:block;
    border:2px solid #222;
    border-radius:50px;
    margin-bottom:30px;
    padding:15px;
}
.list01>a{
    width:30%; height:200px;
    position:absolute;
    top:30px;
    border:2px solid #222;
    overflow:hidden;
    box-sizing:border-box;
}
.list01>a>img{
    width:95%;
    position:inherit;
    top:-22%; left:5px;
}
.list01>div{
    width:32%; height:220px;
    position:absolute;
}
.list01>div.impo{
    left:35%;
    font-size:1.3rem;
    font-weight:500;
    line-height:1.8;
    border-right:2px dotted #222;
    width:260px;
    width:33%;
}
.list01>div.impo>p>span.color{color:#37594B;}
.list01>div.impo>.botton{
    font-size:1rem;
    font-weight:500;
    margin-top:50px;
    display:flex;
    flex-flow:row wrap;
    width:100%;
}
.list01>div.impo>.botton>a{
    border:2px solid #555;
    width:120px; height:40px;
    line-height:40px;
    box-sizing:border-box;
    margin-right:7%;
    text-align:center;
}
.list01>div.impo>.botton>a:hover{
    font-weight:600;
    border:3px solid #444;
    box-sizing:border-box;
}
.list01>div.botton02{
    text-align:center;
    width:25%;
    right:3%;
    margin-top:20px;
    font-size:1.4rem;
    font-weight:500;
}
.list01>div.botton02>a{
    width:100%;
    height:40px;
    line-height:37px;
    display:block;
    margin-bottom:30px;
    box-sizing:border-box;
    border:2px solid #555;
    border-radius:15px;
}
.list01>div.botton02>a:last-child{margin-bottom:0;}
.list01>div.botton02>a:hover{
    font-weight:600;
    border:3px solid #444;
    box-sizing:border-box;
}
.list02{
    width:100%; height:220px;
    position:relative;
    display:block;
    border:2px solid #222;
    border-radius:50px;
    padding:15px;
}
.list02>a{
    width:30%; height:200px;
    position:absolute;
    top:30px;
    border:2px solid #222;
    overflow:hidden;
    box-sizing:border-box;
}
.list02>a>img{
    width:95%;
    position:inherit;
    top:-22%; left:5px;
}
.list02>div{
    width:32%; height:220px;
    position:absolute;
}
.list02>div.impo{
    left:35%;
    font-size:1.3rem;
    font-weight:500;
    line-height:1.8;
    border-right:2px dotted #222;
    width:260px;
    width:33%;
}
.list02>div.impo>p>span.color{color:#37594B;}
.list02>div.impo>.botton{
    font-size:1rem;
    font-weight:500;
    margin-top:50px;
    display:flex;
    flex-flow:row wrap;
    width:100%;
}
.list02>div.impo>.botton>a{
    border:2px solid #555;
    width:120px; height:40px;
    line-height:40px;
    box-sizing:border-box;
    margin-right:7%;
    text-align:center;
}
.list02>div.impo>.botton>a:hover{
    font-weight:600;
    border:3px solid #444;
    box-sizing:border-box;
}
.list02>div.botton02{
    text-align:center;
    width:25%;
    right:3%;
    margin-top:20px;
    font-size:1.4rem;
    font-weight:500;
}
.list02>div.botton02>a{
    width:100%;
    height:40px;
    line-height:37px;
    display:block;
    margin-bottom:30px;
    box-sizing:border-box;
    border:2px solid #555;
    border-radius:15px;
}
.list02>div.botton02>a:last-child{margin-bottom:0;}
.list02>div.botton02>a:hover{
    font-weight:600;
    border:3px solid #444;
    box-sizing:border-box;
}

.section02::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}

