@charset  "utf-8";
@import "reset.css";
@import "common.css";

/*현재 페이지 영역*/
.section01{
    text-align:center;
    width:100%;
    position:relative;
    margin-top:80px;
}
.section01>h3{
    font-size:2rem;
    font-weight:700;
    margin-top:50px;
    color:#222;
}
.section01>p{
    margin:20px 0 60px 0;
    color:#222;
}
.section01>div{
    width:75%;
    margin-left:34%;
}
.section01>div>a{
    width:130px; height:40px;
    line-height:40px;
    float:left;
    border:2px solid #aaa;
    border-radius:30px;
    font-size:1.6rem;
    font-weight:500;
    margin-right:100px;
    color:#222;
}
.section01>div>a:nth-child(3){
    background:#37594B;
    color:#fff;
}
.section01>div>a:last-child{margin-right:0;}
.section01>div::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}

/*타이틀 영역*/
#title{
    width:75%; height:50px;
    text-align:left;
    border-bottom:4px solid #37594B;
    margin:50px auto 0;
}
#title>h4{
    font-size:1.6rem;
    font-weight:600;
    line-height:50px;
    color:#222;
}

/*기간 설정 영역*/
.section02{
    width:40%; height:80px;
    margin:80px auto 0;
    text-align:center;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
}
.section02>p{
    width:280px;
    font-size:1.5rem;
    font-weight:600;
    word-spacing:1.2em;
}
.section02>p:nth-child(2)
{width:30px; margin-left:60px;}
.section02>p>input
{width:130px; height:25px;}

/*문의 리스트 영역*/
.section03{
    width:50%; height:550px;
    margin:0 auto;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
}
.section03>.list{
    width:70%; height:55px;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    border:2px solid #222;
    border-radius:30px 30px 0 0;
    margin:0 3% 30px 0;
    padding:15px;
    color:#222;
}
.section03>.list>div>p:first-child{
    font-size:1.2rem;
    font-weight:500;
    margin-bottom:15px;
}
.section03>.list>div>p:last-child{
    font-size:1.5rem;
    font-weight:600;
}
.section03>.list>div:last-child{
    width:25%; height:50px;
    border:2px solid #555;
    border-radius: 20px; 
    text-align:center;
    box-sizing:border-box;
    line-height:50px;
    font-size:1.4rem;
    font-weight:600;
    margin-top:2px;
}
.section03>.list>div:last-child:hover{
    border:3px solid #444;
}
.section03>.response{
    width:10%; height:50px;
    font-size:1.2rem;
    font-weight:500;
    text-align:center;
    margin-top:10px;
}
.section03>.response>div{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
}
.section03>.response>div>p{
    width:42%; height:40px;
    margin:10px 8% 0 0;
    border:1px solid #222;
    box-sizing:border-box;
    border-radius: 50px;
    line-height:40px;
    font-size:1.3rem;
    font-weight:600;
}
.section03>.response>div>p:first-child{
    background:#37594B;
    color:#fff;
}
.section03>.response>div>p:last-child{margin-right:0;}


/*페이지 이동 버튼 영역*/
.section04>div{
    width:75%; height:50px;
    margin:0 auto;
    font-size:1.3rem;
    font-weight:600;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
}
.section04>div>a{
    color:#37594B;
    margin:0 100px;
}
.section04>div>a:first-child{margin-left:0;}
.section04>div>a:last-child{margin-right:0;}
footer{margin-top:50px;}











/*중간 사이즈 이미지 어긋남 방지용*/
@media all and (max-width:1919px){
    .section02{width:761.2px;}
    .section03{width:950.6px;}
}


/*모바일*/
@media all and (max-width:1024px){
    .section01>div{
        margin-left:26.5%;
    }
    .section01>div>a{
        width:120px; height:35px;
        line-height:35px;
        float:left;
        border:2px solid #aaa;
        border-radius:30px;
        font-size:1.5rem;
        font-weight:500;
        margin-right:50px;
        color:#222;
    }

    /*기간 설정 영역*/
    .section02{
        width:512px; height:80px;
        margin:40px auto 0;
        text-align:center;
        display:flex;
        flex-flow:row wrap;
        justify-content:center;
    }
    .section02>p{
        width:200px;
        font-size:1.2rem;
        font-weight:600;
        word-spacing:0.8em;
    }
    .section02>p:nth-child(2)
    {width:20px; margin-left:20px;}
    .section02>p>input
    {width:100px; height:25px;}


    /*문의 리스트 영역*/
    .section03{width:512px;}
    .section03>.list{height:40px;}
    .section03>.list>div>p:first-child{
        font-size:1rem;
        font-weight:500;
        margin-bottom:5px;
    }
    .section03>.list>div>p:last-child{
        font-size:1.2rem;
    }
    .section03>.list>div:last-child{
        height:40px;
        line-height:40px;
        font-size:1rem;
        margin-top:0;
    }
    .section03>.response{
        height:40px;
        font-size:1rem;
        margin-top:10px;
    }
    .section03>.response>div>p{
        width:47%; height:25px;
        margin:10px 6% 0 0;
        border-radius: 20px;
        line-height:25px;
        font-size:0.8rem;
        font-weight:600;
    }


    /*페이지 이동 버튼 영역*/
    .section04>div>a{margin:0 50px;}
}