@charset  "utf-8";
@import url('./reset.css');
@import url('./manager_header.css');
@import url('./p_aside.css');


/* 공통 */
html{font-family: 'Pretendard-Regular';}
table, tr, th, td{border:1px solid #000; text-align:center;}
table{width:100%; margin:2% 0 5%;}
table>caption{text-align:left;}
.wrap{justify-content: space-between;}
.flex{display:flex; flex-flow:row wrap;}
article{width:80%;}


/* 사이드메뉴 */





/* 상품현황 */
table>caption{font-size:1rem; font-weight:900; margin-bottom:2%;}
#article>table th,#article>table td{padding-top:2.5%;}

/* 상품 재고 현황 */
#article>table:nth-child(2) td{padding-top:6.5%;}
#article>table:nth-child(2) td{vertical-align:top;}
#article>table:nth-child(2) td:first-child{padding:2% 0;}
#article>table:nth-child(2) td>div{
    font-size:12px;
    margin:2% 0;
    font-weight:900;

}


/* 상품관리 */
.background{background:#f0efef; height:200px;}
.background>div{width:50%; padding:2% 0 2.5% 2% ;box-sizing: border-box;}
.background img{width:100%; display:block; margin:0 auto;}
.background>div>div:first-child{width:30%;}
.background>div>div:last-child{margin:10% 0 0 5%; width:65%;}
.background>div p{
    font-size:10px;
    color:rgb(182, 182, 182);
    line-height:1.5;
    font-weight:600;
}
.background>div p:first-child{color:rgb(77, 77, 77); margin-bottom:2%;}









@media all and (max-width:1024px){
    section.flex{justify-content: space-around;}
    aside{display:none;}
    article{padding:0 3%;}
    .background>div{padding-top:5%;}
}