@charset "utf-8";
@import "reset.css";
@import "fullpage.min.css";
*{margin: 0; padding: 0;}
.wrap{
    width:1240px;
    margin: 0 auto;
    position: relative;
}
li{list-style-type :none }
nav{width:1240px;}

/*헤더영역*/
#util>ul::after,#util>ul>li::after,#logo::after,.clear::after,
.section4>#news::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
header #util{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    position: relative;
}
header #util>ul{
    float: right; margin-top: 15px;
    position: absolute;
    right: 0;
}
header #util>ul>li{
    float: left;
    margin: 10px;}
header #util ul li a{
    display: block;
   font-size: 12px;
   color: #fff;
}

header #util ul .quick{
    margin: 2px auto;
    width:88px; height: 29px;
    border: 1px solid #fff;
    border-radius:10px;
    text-align: center;
    line-height: 29px;
    box-sizing:border-box;
}
header{
    width:100%;
    /*left: 0; right: 0; top:0;*/
    position: absolute;
    z-index: 9999999;
    top:0;
    height: 140px;
}
header.sticky #util ul li a{color: #666;}
header.sticky .wrap #gnb ul li a{color: #000;}
header.sticky #util ul .quick{
    border: 1px solid #666;
}
header.sticky{
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    z-index: 99999999999999;
}
header.sticky #logo a{
    background-image:url('../images/hover_logo1.png');
}
header.sticky nav{background: #fff;}
header nav{
    position:absolute;
    width: 100%;
}
.m_nav{display: none;}
#section1{
    width: 100%;
    height: 100%;
}

.slider{
    position: relative;
    width: 100%;
    height: 100%;
}
.myslide{
    height: 969px;
    overflow: hidden;
    display: none;
}
.prev, .next{
    position: absolute;
    top:51%;
    transform: translate(0,-50%);
    font-size:50px;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
}
.prev{
    left: 10%;
}
.next{
    right: 10%;
}

.dotsbox{
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20%;
    cursor: pointer;
}

.active, 
.dot:hover{
    background: #fff;
}
.dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}
.txt{
    position: absolute;
    color: #fff;
    top:50%;
    left: 35%;
    font-size: 3vh;
    font-weight: 700;
    z-index: 99999999;
}

.fade{
    -webkit-animation-name:fade ;
    -webkit-animation-duration:1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: 0.8}
    to {opacity: 1}
}
@keyframes fade{
    from {opacity: 0.8}
    to {opacity: 1}
}

.slider img{
    transform: scale(1.3, 1.3);
    -webkit-animation-name:zoomin ;
    -webkit-animation-duration:40s ;
    animation-name: zoomin;
    animation-duration: 40s;
}
@keyframes zoomin {
    from{transform: scale(1,1);}
    to{transform: scale(1.3,1.3);}
}
/*.slider>img{ width:100%; height: 969px;}*/

#logo{
    width:179px; height: 54px;
    position: absolute;
    margin-top: 5px;
}
header #logo>a{
    display:block;
    background:url('../images/logo_1.png') no-repeat;
    width:100%; height:100%;
    overflow:hidden;
    text-indent:-9999px;
    float: left;
}
header #gnb>.gnb{
    transform: translateX(20%);
   width:100%;

}
header #gnb>.gnb>li{
    float: left;
    text-align: center;
    margin-top: 20px;
    width:10%;
    font-size: 1.1rem;
    height:40px;
}


.gnb>li>a, .submenu>li>a{
    display: block;
    width:100%;
    color: #fff;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
}

.submenu{
    display: none;
    background: #fff;
    width:100%;
    height: 400px;
}


.submenu>li>a:hover{
    font-weight: bold;
    font-size: 15px;
    color: #273d72;
}
#section1{height: 100%;}
.submenu>li>a{
    font-size: 15px;
    font-weight: 400;
}

/*퀵메뉴 버튼*/
.quick_close{
    width:24px; height: 24px;
    position: absolute;
    right:3%;
}
.quick_close>a{
    display:block;
    background:url('../images/close.png') no-repeat;
    width:100%; height:100%;
    overflow:hidden;
    text-indent:-9999px;
    margin-top: 10px;
}
.quick_container{
    width: 17%;
    background: #fff;
    position: fixed;
    z-index: 9999999;
    right: 0;
    top:0;
    height: 100%;
    box-shadow: -1px 0 3px 0 gray;
    display: none;
}

.util_menu{margin-top: 50px;}
.util_menu li{
    margin: 10px;
}

.util_menu li a{
    font-size: 1.3rem;
    color: #273d72;
    font-weight: bold;
}

.util_submenu li a{
    color: #000000;
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 10px;
}

.util_submenu li:last-child{
    margin-bottom: 40px;
}


/*section2*/
.box{
    position: relative;
}
#section2{
    width: 100%;
    height: 100%;
}

h3{
    font-size: 2.8rem;
    font-weight: bold;
    color:#20274d;
    padding-top: 80px;
}

.sub_txt{
    font-size: 1.2rem;
    line-height: 1.2;
    color: #666;
    font-weight: 600;
    margin: 20px 0 80px 0;
}

#vision{
    background: #f1f2f1;
    width: 27%;
    height: 220px;
    position: relative;
    cursor: pointer;

}

#vision>h4{
    padding:40px 30px 10px 50px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #20274d;
}

#vision p{
    padding-left: 50px;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6;
}

#vision>img{
    position: absolute;
    right: 0;
    padding-right:10px ;
}

#business{
    background: #20274d;
    width: 27%; height: 220px;
    position: relative;
    color: #fff;
    margin-top:50px;
}

#business>img{
    width:55%;
    position: absolute;
    bottom: 0;
}

#business>h4{
    position: absolute;
    right:10%;
    top:30%;
    font-size: 1.4rem;
    font-weight: 500;
}

#business>p strong{
    line-height: 3;
}
#business>p{
    position: absolute;
    font-family: Nanum Myeongjo, serif;
    right: 10%;
    top:40%;
    text-align: center;
    line-height: 1.2;

}

#esg{
    width:25%; height:490px;
    background: url("../images/esg.jpg") center/cover;
    background-position: center;
    position: relative;
    position: absolute;
    top:0;
    right: 45%;
}

#esg>p{
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    top:25%;
    right: 31%;
}
#family{
    position: absolute;
    top:-38%;
    right: 0;
    box-shadow: 40px 10px #ddd;
}
#family_txt>p{
    font-size: 1.2rem;
    color: #273d72;
    font-weight: 800;
    padding-bottom: 10px;
}

#family_txt{
    position: absolute;
    right: 15%;
    top:83%;
    color: #333;
    line-height: 1.2;
}

#section2 h3 {
    padding-top: 80px;
}

/*박스 hover 효과*/
#vision:hover,#business:hover,#esg:hover,#family:hover{
    transform: scale(1.1, 1.1);
    transition-duration: 0.5s;
}

/*section3*/
.section3{
    width: 100%;
    background: url("../images/product_bg.jpg") center center / cover no-repeat;
    box-sizing: border-box;
}

.section3>.wrap>h3{padding-top: 220px;}

.product_txt{
    font-size: 1.2rem;
    line-height: 1.2;
    color: #666;
    font-weight: 600;
    margin: 20px 0 50px 0;
}

.product_txt strong{color: #e20c19;}

hr{
    background:#666;
	width:95px;
	height:1px;
	border:0;
}
#slideImg2{width: 420px;height: 420px;}
#slideImg2>img{position: absolute;}
.topImg{z-index: 99;}

#carousel>a>img{
    position: relative;
    z-index: 9999999;
    width: 2%;
}

/*section4*/

#section4{
    width: 100%;
    background: url("../images/bg.jpg") center/cover;
    height: 100%;
    position: relative;
}

#section4 #news h3{padding-top: 10;}
#section4 #news ul{display: flex;}
#section4 #news ul li{
    padding: 50px 50px 10px 0;
    font-size: 1.1rem;
    font-weight: 800;
}
.donghwa_news a{color: #e20c19;}


.color{color:#e20c19;}
#section4 #news img{width: 40%;}
#board{
    position: absolute;
    left:50%;
    top:35%;
    font-size: 1.3rem;
    width: 32%;
}

.view>span>a{
    font-size: 0.9rem;
}

#board>p{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 50px;
}
#board>.view{
    position: absolute;
    right: 0;
    top:0;
}
#board>ul{margin: 65px 0;}
#board>ul>li{margin: 20px 0;}

#board>ul>li>a{
    font-weight: bold;
    color: #000000;
}
#board2{
    position: absolute;
    left:50%;
    top:35%;
    font-size: 1.3rem;
    width: 32%;
    display: none;
}

.view>span>a{
    font-size: 0.9rem;
}

#board2 .flex{
    padding: 0;
    align-items:center;
}
#board2>p{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 50px;
}
#board2>.view{
    position: absolute;
    right: 0;
    top:0;
}
#board2>ul{margin: 10px 0;}
#board2>ul>li{margin: 20px 0;}

#board2>ul>li>a{
    font-weight: bold;
    color: #000000;
}
#board>ul>li>a:hover,#board2 .flex li a:hover{color: #e20c19;}

.month{
    color: #666;
    font-size: 0.8rem;
}

.board_line{width: 100%;}
.mid_line{width: 100%; background: #666;}

/*section5*/
.section{
    width: 100%;
    height: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
    padding-top: 260px;
}

#investment,#recruitment{
    width: 49%; height:240px;
    background: #20274d;

}
#commt{padding:80px 20px;}
#commt>p strong{
    font-size: 1.5rem;
    font-weight: bold;
}
#commt>p{
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
}


#investment{
    position: relative;
}
#line_bnr1>a{
    position: absolute;
    top:0;
    right: 0;
    display: inline-block;
    width: 50%;
    height: 100%;
    background: url("../images/investment.jpg") no-repeat center/cover;
}

#recruitment{
    position: relative; 
}
#line_bnr2>a{
    position: absolute;
    top:0;
    right: 0;
    display: inline-block;
    width: 50%;
    height: 100%;
    background: url("../images/recruitment.jpg") no-repeat center/cover;
}
.brand{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-bottom: 50px;
}

.brand>div{
    border: 1px solid #ddd;
    width: 15%;
    height: 180px;
    position: relative;
}

.brand div a img{
    display: block;
    margin: 55px auto;
    width: 100%;
}


footer{
    width: 100%;
    background: #20274d;
}

footer>.wrap{
    display: flex;
    justify-content: space-between;
}

footer>.wrap>.logo{
    margin: 60px 0;
}

#info{
    margin:40px 0 ;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
}
#info>ul>li>a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

footer>.wrap>.sns>#icon{ margin: 60px;}

footer>.wrap>.sns>#icon>li>a{
    padding-left: 30px;
}



/*모바일*/
@media all and (max-width:1024px){
    .wrap{width: 90%; margin: 0 auto;}
    #util{display: none;}
    .gnb{display: none;}
    #logo{padding: 20px; position: relative;}
    #gnb>span{
        background: #fff;
        width: 10px;
        height: 10px;
    }
    
    .myslide{height: 930px;}
    /*헤더 햄버거버튼 영역*/
    #btn{
        width:200px; height: 200px;
        position: absolute;
        right: -15%;
        top: 0;
        margin-top: 30px;
    }
    #btn>a{
        display:block;
        background:url('../images/btn.png') no-repeat;
        width:100%; height:100%;
        overflow:hidden;
        text-indent:-9999px;
    }
    .close_btn{
        width:24px; height: 24px;
        position: absolute;
        top:0;
        right: 2%;
    }
    .close_btn>a{
        display:block;
        background:url('../images/close.png') no-repeat;
        width:100%; height:100%;
        overflow:hidden;
        text-indent:-9999px;
        margin-top: 10px;
    }
    .m_nav{
        display: block;
        background:#fff;
        position: fixed;
        right: -100%;
        width: 60%;
        height: 100%;
        z-index: 9999;
    }
    .m_nav.on{right: 0;}
    .m_nav>.m_gnb>li{
        margin: 20px 0;
    }
    .m_nav>.m_gnb>li>a{
        font-size: 1.4rem;
        font-weight: bold;
        margin: 20px;
    }
    .sub{
        font-size: 1.2rem;
        margin-top:10px ;
    }
    .sub li{
        background: #ddd;
        margin: 1px 0;
        height: 50px;
        line-height: 50px;
    }
    .sub li a{
        margin-left: 50px;
    }
    .m_gnb{
        margin-top: 80px;
    }
    .m_line{
        width: 80%;
        height: 2px;
        margin-left: 20px;  
    }
    .bg_shadow{
        position: fixed;
        top:0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.7);
       display: none;
        cursor: pointer;
    }
.sub{display: none;}

    /*비주얼배너*/
    .txt{
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    #section2 .wrap{padding-top: 50px;}
    #section2 #slideImg2{
        height: 20%;
    }
    #section2>.wrap>h3{padding: 0;}
    #section2>.wrap{margin: 0 }
    #family,#family_txt{display: none;}
    #esg{width: 40%; left: 60%;  overflow: hidden;}
    #vision,#business{
        width: 40%;
        left: 70px;
        overflow: hidden;
    }

    #section3{margin-top: 100px;}
    #section4{padding: 0;}
    #news{display: none;}
    #board{
        position: absolute;
        transform: translate(-50%,-50%);
        top:50%;
        width: 80%;
    }
    .icon{display: flex; position: absolute; right: 0;}
    .icon_facebook{
        background: url(../images/icon_facebook02.png) center/cover;
        width: 50px; height: 50px;
    }
    .icon_insta{
        background: url(../images/icon_insta02.png) center/cover;
        width: 50px; height: 50px;
    }
    #section5{padding: 0;}
    #section5 .flex{
        display: block;
        padding:0;
    }
    #investment{
        width: 98%;
        margin-bottom: 20px;
        margin-top: 150px;
        height: 220px;
    }
    #recruitment{width: 98%; height: 220px;}
    .section5 h3{padding: 0px 0 20px 0;}
    .section5{width: 100%;}
    .brand>div{
        width:20%;
    }
    footer{width: 100%; height: auto;}
    #icon{display: none;}

}/*모바일 끝