@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");


/*
font-family: 'Pretendard';

*/

*{margin:0; padding:0; box-sizing:border-box; text-decoration: none; list-style: none;}

/*공통 사용*/
.wrap{width:1440px; margin:0 auto;}
section h2{
    display:none;
	visibility:hidden;
	width:0; height:0;
	overflow:hidden;
	text-indent:-9999px;
}
img{vertical-align:top;}


/*section1*/
.section1{
    margin:100px 0;
    display: flex;
}


/*제품 사진 슬라이드 영역*/
.product{width:40%; position: relative;}
.product_img{position:absolute;}


.product-1{position: absolute;}
.product_img p{font-size:20px; color: #404040;}
.text{font-size:25px;}
.product_info p{ 
    background: #b0bf30;
    display: inline-block;
    color:#fff;
    padding:10px;
}


/*제품 특징 영역*/
.character{width:60%;}
.character h3{font-size: 35px; color:#595959; text-align: center;}
.character strong{color:#37594b; font-weight: 900; font-size:40px;}
.character>ul{
    border-top:3px solid #37594b;
    border-bottom:3px solid #37594b;
    margin-top:30px;
}
.character>ul>li{ border-bottom: 1px solid #37594b;}
.character li:last-child{border-bottom: 0;}
.character dl{display: flex; padding:30px 20px;}
.character dt{ 
    width:20%;
    font-size:20px; 
    color:#37594b; 
    font-weight:400;
}
.character dd{width:80%;}
.character p{margin-bottom: 15px;}
.textbox{display: flex; justify-content: space-between;}
.txt{line-height: 30px;}
.element{
    display: flex; 
    justify-content: space-between; 
    width: 80%;
    line-height: 30px;

}
.element>li{width:50%;}

