@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/*font-family: 'Gothic A1', sans-serif;
font-family: 'Nanum Myeongjo', serif;*/
html{
    font-family: 'Gothic A1', sans-serif;
}
img{vertical-align: top;}
a{text-decoration: none;}
a:link, a:visited, a:hover,a:active{color:#333;}